body
{
    background-color: aqua;
    margin: 0;
    padding:0px;
    font-family:Times New Roman;
    font-size:10px;
    
}
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:red;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
  
.button:hover {background-color:pink;}
  
.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


table,th,td{
    height:10px;
    width: 1500px;
    margin: 0;
    font-size: cover;
    padding: 0px;
}