h1{
  color:rgb(183, 204, 204);
    font-family: 'Roboto', sans-serif;
    font-size:100px;
    text-shadow: 10 px blue;
    margin:150px 300px 200px 300px;
    font-family:'Times New Roman', Times, serif;
}
body{
    background-image:url("/img/spi.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 35px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color:black;
  background-color:lightblue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;

}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}