h1
{
  
  margin: 100px;
  font-family: 'Calibri(body)', serif;
  color:white;
}
body
{
  
  color: white;
  background-image:url('img/wallpaper3.jpeg');
  background-repeat:no-repeat;
  background-size:cover;
}
  
.button 
  {
    border-radius: 4px;
    background-color: #f4511e;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
  }  
input
  {
    font-size: 25px;
    height:40px;
    width:200px;
  }
   
span
    {
    color:white;
    font-size:30px;
    font-family: Verdana, Tahoma, sans-serif;
    }
