h1
{
    font-family:'Times New Roman', Times, serif;
    text-align:left;
    font-size:80px;
    color:white;
    margin:100px 80px 80px 100px;

}
input[type=text] {
    width:20%;
    padding: 12px 20px;
    box-sizing: border-box;
    text-align:left;
    margin:25px 5;

    font-size:25px;
  }
input[type=password] {
    width:20%;
    padding: 12px 20px;
    box-sizing: border-box;
    text-align:left;
    margin:25px;

    font-size:20px;
  }
body
{
    background-image:url('img/wallpaper 1.jpeg');
    background-size:cover;
    background-repeat:no-repeat;
    text-align:left;
    color:white;
    font-size:50px;

}
button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 50px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color:rgb(1, 0, 10);
    background-color:rgb(183, 177, 230);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin:60px;
  
  }
  
  button:hover {background-color: rgb(29, 27, 179)}
  
  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  